{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ news.spoiler }}{% endblock %}

{% block content %}
    <h1 class="well">{{ news.spoiler }}</h1>
    <p>{{ news.pub_date }}</p>
    <p>{{ news.content }}</p>
{% endblock %}
