{% extends 'base.html' %}

{% block title %}{{ block.super }} | Новости{% endblock %}

{% block content %}
    {% if latest_news %}
        <div class="page-header">
            <h1>Новости</h1>
        </div>
        {% for news in latest_news %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2><a href="{% url 'news:detail' news.id %}">{{ news.spoiler }}</a></h2>
                            </div>
                            <div class="col-sm-2">
                                <p>{{ news.pub_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока что новостей нет</p>
    {% endif %}
{% endblock %}
