{% extends 'books/base.html' %}

{% block title %}{{ block.super }} | Результаты поиска{% endblock %}

{% block content %}
    {% if results %}
        <div class="page-header">
            <h1>Результаты поиска по запросу "{{ query }}"</h1>
        </div>
        {% for result in results %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2><a href="{{ result.url }}">{{ result.header }}</a></h2>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Ничего не нашлось</p>
    {% endif %}
{% endblock %}
