.books-page a, .books-page a:hover {
    text-decoration: none;
    color: inherit;
}

.books-page img {
    width: 120px;
    height: 150px;
}

.books-page__book {
    margin-bottom: 20px;
}

.book img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 320px;
}