<div class="book">
    <img src="{{ book.photo.url }}">
    <h2>{{ book.name }}</h2>
    <p>Автор: {{ book.author }}</p>
    <p>Цена: {{ book.price }} руб.</p>
    <p>{{ book.description }}</p>
</div>
