{% load chunks %}

{% for chunk in books|chunks:2 %}
    <div class="row">
        {% for book in chunk %}
            <div class="col-sm-6 books-page__book">
                <a href="{% url 'books:detail' book.id %}">
                    <div class="media">
                        <div class="media-left">
                            {% if book.photo %}
                                <img class="media-object" src="{{ book.photo.url }}">
                            {% endif %}
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{ book.name }}</h2>
                            <p>Автор: {{ book.author }}</p>
                            <p>Цена: {{ book.price }} руб.</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endfor %}
