{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% endblock %}

    <title>{% block title %}Магазин книг{% endblock %}</title>
</head>

<body>
<div class="container">
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'jquery/dist/jquery.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
</body>
</html>