{% extends 'books/base.html' %}

{% load bootstrap %}

{% block title %}{{ block.super }} | {{ book.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include 'books/partials/book.html' %}
        </div>
        <div class="col-sm-4">

            <form action="{% url 'books:detail' book.id %}" method="post">
                {% csrf_token %}

                {{ form|bootstrap }}

                <input type="submit" class="btn btn-primary" value="Заказать"/>
            </form>
        </div>
    </div>
{% endblock %}
