{% extends 'books/base.html' %}

{% block title %}{{ block.super }} | Книги{% endblock %}

{% block content %}
    {% if books %}
        <div class="books-page">
            <div class="page-header">
                <h1>Книги</h1>
            </div>
            {% include 'books/partials/books.html' with books=books %}
        </div>
    {% else %}
        <p>На данный момент в нашем магазине нет книг</p>
    {% endif %}
{% endblock %}
