{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}{{ block.super }} | Обратная связь{% endblock %}

{% block content %}
    <h2>Обратная связь</h2>

    <form action="{% url 'feedback:index' %}" method="post">
        {% csrf_token %}

        {{ form|bootstrap }}

        <input type="submit" class="btn btn-primary" value="Отослать"/>
    </form>
{% endblock %}
